* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
}
body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.container {
  background-color: white;
  width: 85%;
  height: 200vh;
  margin-bottom: 30px;
}
.nav_header {
  background-color: #dfd356;
  color: #333;
}
.nav_header ul li {
  list-style: none;
  font-size: 1.6rem;
  margin: 15px;
  cursor: pointer;
}
.nav_header ul li a {
  text-decoration: none;
  position: relative;
  color: black;
  padding: 5px 0;
}
.nav_header ul li a::before {
  position: absolute;
  content: " ";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #f4f4f4;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}
.nav_header ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.nav_header ul .active {
  background-color: #003060;
  color: #fff;
  a {
    color: #fff;
  }
}
.link-icons {
  box-sizing: border-box;
  width: fit-content;
  padding: 15px;
}
.nav_header ul .link-icons:hover {
  background-color: #003060;
  color: #fff;
  a {
    color: #fff;
  }
  .icon {
    filter: brightness(0) invert(1);
  }
}
.icon {
  width: 20px;
  height: auto;
}

.icon_logo {
  margin: auto;
  width: 120px;
}
.nav_header {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.search_bar {
  background-color: #dfd356;
  border: 2px solid #333;
  height: 30px;
  font-size: 1.6rem;
}
.search_bar::placeholder{
  color: #333;
}
@media screen and (max-width: 1800px) {
  .nav_header ul li {
    margin: auto;
    padding: 10px;
    font-size: 3.2rem;
  }
  .nav_header ul li a {
    font-size: 2.2rem;
  }
  .icon_logo {
    margin: auto;
    width: 60px;
  }
}

.nav_header ul {
  display: flex;
  flex-wrap: wrap;
}
.nav_img {
  width: 100%;
}
.checkbtn {
  display: none;
}
#check {
  display: none;
}
@media (max-width: 1300px) {
  .icon_logo {
    width: 100px;
    padding-left: 50px;
  }
  .nav_header ul li a {
    font-size: 1.8rem;
    margin-left: auto;
  }
}
section {
  height: auto;
}
.content-container {
  width: 100%;
  height: 100%;
}
.content-header {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  background-color: #f4f4f4;
  height: 80px;
  width: 100%;
  align-items: center;
}

.special-event {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.shop-now {
  width: 100px;
  height: 40px;
  align-self: center;
  background-color: #dfd356;
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  flex-grow: 0;
  margin-right: 3%;
}
h3 {
  font-size: 2.2rem;
}
p {
  font-size: 1.8rem;
}

.shop-now:hover {
  background-color: #003060;
  color: #fff;
}

.content-header h3 {
  text-decoration: underline;
  margin: 0;
}

.content-header p {
  margin: 5px 0 0;
}

@media (max-width: 768px) {
  .content-header {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .shop-now {
    margin-top: 10px;
  }
}

.content-card {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 30px;
}
.content-card img {
  grid-column: 2 span;
  width: 100%;
  height: auto;
}
.moment-price {
  color: red;
  font-size: 1.8rem;
}
.ori-price {
  font-size: 1.4rem;
  text-decoration: line-through;
}
.card {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.card button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2.4rem;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  padding: 10px;
  margin-left: 40%;
}
.price-detail {
  box-sizing: border-box;
  padding-top: 7px;
}
.info_bot {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid green;
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border: none;
}
.icon_follow {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  gap: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.qr_code {
  height: 200px;
  width: auto;
}
.card-links {
  text-decoration: none;
  color: black;
}