* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .container {
    background-color: white;
    width: 85%;
    height: 200vh;
    margin-bottom: 30px;
  }
  nav {
    border-bottom: 3px solid #555;
  }
  .nav_header ul li {
    list-style: none;
    font-size: x-large;
    margin: 15px;
    margin-top: 40px;
    cursor: pointer;
  }
  .nav_header ul li a {
    text-decoration: none;
    position: relative;
    color: black;
    padding: 5px 0;
  }
  .nav_header ul li a::before {
    position: absolute;
    content: " ";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #f4f4f4;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s linear;
    border-radius: 7px;
  }
  .nav_header ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  .nav_header ul .active {
    border-radius: 7px;
    background-color: #007bff;
    color: #f4f4f4;
    a {
      color: #f4f4f4;
    }
  }
  .nav_header ul .link-icons:hover {
    border-radius: 7px;
    background-color: #007bff;
    color: #f4f4f4;
    a {
      color: #f4f4f4;
    }
    .icon {
      filter: brightness(0) invert(1);
    } 
  }
  
  .icon {
    width: 25px;
  }
  
  .icon_logo {
    border-radius: 90%;
    margin: auto;
    width: 90px;
    margin-top: -25px;
  }
  .nav_header {
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 1800px) {
    .nav_header ul li {
      margin: auto;
      padding: 10px;
      font-size: large;
    }
    .icon_logo {
      margin: auto;
      width: 60px;
    }
  }
  
  .nav_header ul {
    display: flex;
    flex-wrap: wrap;
  }
  .search_bar {
    height: 30px;
    border-radius: 5px;
    font-size: large;
  }
  .nav_img {
    width: 100%;
  }
  .checkbtn {
    display: none;
  }
  #check {
    display: none;
  }
  @media (max-width: 1500px) {
    .icon_logo {
      width: 100px;
      padding-left: 50px;
    }
    .nav_header ul li a {
      font-size: 16px;
      margin-left: auto;
    }
  }
  .shop-container {
    margin-top: 50px;
    background-color: #f4f4f4;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 15px;
  }
  .item-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
  }
  .item-pic img {
    width: 400px;
    border-radius: 8px;
  }
  .moment-price {
    color: red;
    font-size: 1.4em;
  }
  .ori-price {
    font-size: 1em;
    text-decoration: line-through;
    opacity: 60%;
  }
  h3 {
    font-size: 2em;
  }
  .item-specific {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .item-specific img {
    width: 200px;
    border-radius: 8px;
  }
  .item-specific p {
    text-align: center;
  }
