body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.cart-container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  gap: 20px;
  height: 130vh;
}

.cart-items {
  flex: 3;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-items1 h2 {
  margin-bottom: 20px;
}

.cart-item1 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
}

.cart-item1 img {
  width: 170px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.item-details {
  flex: 2;
}

.item-details h3 {
  margin: 0;
  font-size: 1.2em;
}

.item-details p {
  margin: 5px 0;
  color: green;
}

.options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.options select,
.options input {
  padding: 5px;
  font-size: 1em;
  border-radius: 5px;
}

.quantity button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.quantity input {
  width: 30px;
  border-radius: 5px;
}

.in-stock {
  color: gray;
  text-decoration: line-through;
}

.item-actions {
  text-align: right;
  flex: 1;
}

.item-actions p {
  margin: 10px 0;
}

.cart-summary {
  flex: 1.5;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 80vh;
}

.cart-summary h2 {
  margin-bottom: 20px;
}

.promo-code {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.promo-code input {
  flex: 2;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.promo-code button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.summary-details p {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.checkout-btn {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.continue-btn {
  width: 100%;
  padding: 15px;
  background-color: #ddd;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
